.todos-screen {
  /*background-color: #1fb0db;*/
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  color: #fff;
  position: fixed;
  width: 60%;
  left: 250px;
  top: 132px;
  height: 600px;
}

.not-found-screen {
  background-color: #1fb0db;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.input-container {
  height: 60px;
  display: flex;
  margin: 30px 30px 0px 30px;
  align-items: center;
  width: 500px;
}

.todo-input {
  flex-grow: 1;
  font-size: 20px;
  padding: 0px 10px;
  border: .5px;
  height: 60px;
}

.icon-lg {
  font-size: 60px;
  margin: 10px;
  background-image:url("../img/add.png");
}

.btn-container {
  flex: 0 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.btn-container:hover {
  color: #000;
  cursor: pointer;
}

.btn {
  border: 2px solid #fff;
  padding: 20px 50px;
  border-radius: 50px;
  font-size: 30px;
}

.btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: linear-gradient(to bottom right, #1fb0db, #000, #fff);
  border: 2px solid #000;
}

.todos-container {
  width: 500px;
  overflow-y: auto;
  padding: 0px 20px;
}

.todo {
  -webkit-box-sizing: border-box;  Safari/Chrome, other WebKit 
  -moz-box-sizing: border-box;     Firefox, other Gecko 
  box-sizing: border-box; 
  padding: 0px 10px;
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 16px;
  text-align: left;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
  margin: 20px 0px;
}

.todo-container {
  position: relative;
  overflow: hidden;
  height: 80px;
}

.todo-container:hover .remove{
  right: 0;
}

.update {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -47px;
  height: 100%;
  width: 60px;
  font-size: 55px;
  transition: right 450ms;
  cursor: pointer; 
}

.remove {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -60px;
  height: 100%;
  width: 60px;
  font-size: 25px;
  transition: right 450ms;
  cursor: pointer; 
}

.remove img {
  width: 35px;
  height: 35px;
  padding-top: 20px
}

.checked {
  text-decoration: line-through;
}

.checked>.todo {
  color: #000;
}

.checked input {
  color: #999999;
}

.checkbox{
  height: 26px;
  width: 26px;
 /*Scroll Bar */
}

.textbox {
  height: 30px;
  margin-left: 5px;
  padding-left: 5px;
  width: 372px;
}
.cool-scroll-bar-17::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px; }

.cool-scroll-bar-17::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0); }

.cool-scroll-bar-17::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px; }