<head>
	<meta charset = "UTF-8">
	<title>Node personal blog</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="description" content="Node personal blog, share nodejs" >
	<meta name="keywords" content="node js">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/main.css">
</head>